name: Albert Custom Font Build

on:
  push:
    branches:
      - main
  workflow_dispatch: # 允许手动触发该工作流

env:
  FILE_MERGED_WFM: InconsolataNFM+LXGWWenKaiMonoLite
  FUSION_NAME: InconsolataNFM + LXGW WenKai Mono Lite
  FUSION_ID: InconsolataNFM+LXGWWenKaiMonoLite
  FUSION_DEVELOPER: Albert
  FUSION_DESCRIPTION: "The free and open-source font fused with Iosevka and LXGW WenKai"
  FUSION_COPYRIGHT: Copyright 2025 Albert (${{ github.server_url }}/${{ github.repository }})
  FUSION_LICENSE: "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org"
  FUSION_VERSION: Inconsolata v3.100; LXGW v1.521;
  IOSEVKA_COPYRIGHT: Copyright 2015-2025, Renzhi Li (aka. Belleve Invis, belleve@typeof.net).
  INCONSOLATA_COPYRIGHT: Copyright 2006 The Inconsolata Project Authors (https://github.com/cyrealtype/Inconsolata)
  LXGW_COPYRIGHT: Copyright 2021-2024 LXGW (https://github.com/lxgw/LxgwWenKai-Lite) Copyright 2020 The Klee Project Authors (https://github.com/fontworks-fonts/Klee)
  LXGW_WENKAI_LITE: https://github.com/lxgw/LxgwWenKai-Lite/releases/download/v1.521/LXGWWenKaiMonoLite-Regular.ttf
  INCONSOLATA_FONT: "Inconsolata-Retina.ttf"
  INCONSOLATA_NFM: "InconsolataNerdFontMono-Retina.ttf"

  IOSEVKA_NFM_URL: "https://github.com/georgealbert/Iosevka/releases/download/v20260103.120305/IosevkaTermSS05NerdFontMono-Regular.ttf"
  IOSEVKA_NFM: IosevkaTermSS05NerdFontMono-Regular.ttf
  SARASA_TERM_URL: https://github.com/be5invis/Sarasa-Gothic/releases/download/v1.0.35/SarasaTermSC-TTF-1.0.35.7z
  SARASA_TERM: SarasaTermSC-Regular.ttf
  SARASA_IOSEVKA_NAME: IosevkaSS05NFM + SarasaTermSC
  SARASA_IOSEVKA_ID: IosevkaSS05NFM+SarasaTermSC

jobs:
  build:
    name: Build my custom fonts
    if: github.repository == 'georgealbert/MyNerdFonts'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # Checkout repository into `mynerdfonts` sub directory
      - uses: actions/checkout@v4
        with:
          path: mynerdfonts

      - name: Install deps for Nerd Font Patcher
        run: sudo apt update && sudo apt install -y fontforge python3-fontforge python3-fonttools p7zip jq gftools

      - name: Download Nerd Font Patcher
        run: |
          wget -q https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/FontPatcher.zip
          unzip FontPatcher.zip

      - name: Patch font
        run: |
          ./font-patcher --quiet --adjust-line-height --complete --careful -s mynerdfonts/fonts/$INCONSOLATA_FONT

      - name: Download LXGWWenKaiMonoLite
        run: |
          wget -q ${IOSEVKA_NFM_URL}

      - name: Download SarasaTermSC-TTF and IosevkaTermSS05NerdFontMono-Regular.ttf
        run: |
          wget -q ${LXGW_WENKAI_LITE}
          wget -q ${SARASA_TERM_URL}
          7z x SarasaTermSC*.7z
          ls -ltr *.ttf

      - name: Merge font by FontForge
        run: |
          for STYLE in "Regular"; do
            fontforge "mynerdfonts/fuse_fonts.ff" \
              "LXGWWenKaiMonoLite-${STYLE}.ttf" \
              "$INCONSOLATA_NFM" \
              "$FUSION_ID-$STYLE" \
              "$FUSION_NAME" \
              "$FUSION_NAME $STYLE" \
              "$STYLE" \
              "$FUSION_ID-${STYLE}.ttf"

            fontforge "mynerdfonts/fuse_fonts.ff" \
              "SarasaTermSC-${STYLE}.ttf" \
              "IosevkaTermSS05NerdFontMono-${STYLE}.ttf" \
              "${SARASA_IOSEVKA_ID}-$STYLE" \
              "${SARASA_IOSEVKA_NAME}" \
              "${SARASA_IOSEVKA_NAME} ${STYLE}" \
              "${STYLE}" \
              "${SARASA_IOSEVKA_ID}-${STYLE}.ttf"
          done

      - name: Set tag name env
        run: |
          echo "NOW=v$(TZ='Asia/Shanghai' date +'%Y%m%d.%H%M%S')" >> $GITHUB_ENV

      - name: Fix fonts
        run: |
          # Fix font agvCharWidth.
          python mynerdfonts/width.py -f 500 ${{ env.INCONSOLATA_NFM }}  -l -200 -n 30

          for STYLE in "Regular"; do
            python mynerdfonts/width.py -f 500 ${FUSION_ID}-${STYLE}.ttf -l -200 -n 30 -a 1000

            gftools update-nameids "${FUSION_ID}-${STYLE}.ttf" \
              --uniqueid "$FUSION_ID-$STYLE-$NOW" \
              --designer "$FUSION_DEVELOPER" \
              --manufacturer "$FUSION_DEVELOPER" \
              --trademark "$FUSION_NAME" \
              --version "$NOW; $FUSION_VERSION" \
              --copyright "$(echo -e "$INCONSOLATA_COPYRIGHT\n$LXGW_COPYRIGHT\n$FUSION_COPYRIGHT")" \
              --license "$FUSION_LICENSE" \
              --urlvendor "https://github.com/georgealbert/MyNerdFonts" \
              --urldesigner "https://www.albertzhou.net" \
              --urllicense "https://openfontlicense.org"

            mv "${FUSION_ID}-${STYLE}.ttf.fix" "${FUSION_ID}-${STYLE}.ttf"
          done

      - name: Fix IosevkaSS05NFM + SarasaTermSC
        run: |
          ls -ltr *.ttf
          for STYLE in "Regular"; do
            python mynerdfonts/width.py -m ${SARASA_IOSEVKA_ID}-${STYLE}.ttf -o 1000 -t 1040 > /dev/null
            python mynerdfonts/width.py -m ${SARASA_IOSEVKA_ID}-${STYLE}-w1040.ttf -o 500 -t 520 > /dev/null
            mv ${SARASA_IOSEVKA_ID}-${STYLE}-w1040-w520.ttf ${SARASA_IOSEVKA_ID}-${STYLE}.ttf
            python mynerdfonts/width.py -f 520 ${SARASA_IOSEVKA_ID}-${STYLE}.ttf -l -200 -n 30 -a 1040
          done

      - name: Generate artifact info
        run: |
          echo 'release_body<<EOF' >> $GITHUB_ENV
          cd mynerdfonts && git log -1 --oneline >> $GITHUB_ENV
          cd ..

          # Print font info.
          for STYLE in "Regular"; do
            echo "" >> $GITHUB_ENV
            echo "* ${FUSION_ID}-${STYLE}.ttf:" >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
            python mynerdfonts/width.py -c ${FUSION_ID}-${STYLE}.ttf >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV

            echo "" >> $GITHUB_ENV
            echo "* ${SARASA_IOSEVKA_ID}-${STYLE}.ttf:" >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
            python mynerdfonts/width.py -c ${SARASA_IOSEVKA_ID}-${STYLE}.ttf >> $GITHUB_ENV
            echo "\`\`\`" >> $GITHUB_ENV
          done

          echo 'EOF' >> $GITHUB_ENV

          echo ${{ env.release_body }}
          
      - name: Publish Release
        id: publish_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.NOW }}
          draft: false
          prerelease: false
          body: >
            1. 合并修改后的Inconsolata-Retina和LXGW WenKai Mono Lite字体。
            2. 合并修改后的IosevkaTermSS05NFM和SarasaTermSC字体。


            ![InconsolataNFM+LXGWWenKaiMonoLite-Regular](https://github.com/georgealbert/MyNerdFonts/blob/main/screenshots/InconsolataNFM%2BLXGWWenKaiMonoLite-Regular.png)

            
            ${{ env.release_body }}


            Built with
            [Github Workflow #${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

          files: |
            ${{ env.INCONSOLATA_NFM }}
            ${{ env.FUSION_ID }}-Regular.ttf
            ${{ env.SARASA_IOSEVKA_ID }}-Regular.ttf
